<header class="mb-3" >
  <div [routerLink]="routerLink" routerLinkActive="active" id="headerLeft" title="Home">
        <h3>Hostel Management System</h3>
  </div>
  <!--<div id="headerTime" style="display: flex; align-items: baseline;"><i class="material-icons access_time">access_time</i><span id="spanMin">{{ minutesLeft }}</span><span> : </span><span id="spanSec">{{ secondsLeft }}</span></div>-->
  <!-- <a id="hypManagePhoneNo" (click)="openManagePhoneNoDialog()">Manage Phone No.</a> -->
  <ul id="menuRight">
    <li title="Logout" (click)="editProfile()">Profile</li>
    <li id="btnLogout" title="Logout" (click)="logout()">Logout</li>
  </ul>
</header>