header {
    width: 100%;
    overflow: hidden;
    border-bottom: solid 1px #ddd;
    background: #f5f5f5;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
}

#headerLeft {
    float: left;
    display: flex;
    align-items: baseline;
    outline: none;
    cursor: pointer;
}

#headerLeft h3 {
    display: inline;
    padding-bottom: 0px;
}