footer {
    width: 100%;
    padding: 10px 0px;
    background: #f5f5f5;
    border-top: solid 1px #ddd;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

footer span {
    position: relative;
    right: 20px;
    top: 5px;
}