@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css";

.divLoginOuter {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
}

.divLoginInner {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffffd1;
    padding: 30px 30px 10px;
    min-width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.loginTitle{
    color:#710030;
}

.loginField {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px 8px;
    margin: 10px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
    width: 60%;
}

.loginField input {
    border: 0;
    padding: 5px 10px;
    outline: none;
}

a.register{
    color: #4e0625;
    text-decoration: underline;
}

a#btnLogin, a#btnLogin:visited, a#btnLogin:link  {
    display: inline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    color: white;
    text-decoration: none;
    background: rgb(187, 6, 83);
    margin: 15px 15px 5px;
    cursor: pointer;
    font-weight: bold;
}

a#btnLogin:hover, a#btnLogin:active {
    background: rgba(0,0,0,0.2);
    text-decoration: none;
}

.errorMsg {
    font-size: medium;
    color: red;
    font-weight: bold;
    padding-bottom:32px;
}

.successMsg {
    font-size: medium;
    color: green;
    font-weight: bold;
    padding-bottom:32px;
}

ul.gender-list{
    padding-left: 0;
    text-align: center;
}

.gender-list li{
    list-style: none;
    display: inline-block;
    width: 40%;
    border: solid 1px #bb0653;
    background: white;
    color: #bb0653;
    padding: 5px;
    font-weight: bold;
}

.gender-list li:first-child {
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.gender-list li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.gender-list li.selected{
    background: #bb0653;
    color: white;
}

.hidden{
    display: none;
}
