<div class="divLoginOuter">
    <div class="divLoginInner">
        <h1>My Profile</h1>  
        
        <div class="form-group ">
    <label >Name</label>
    <input type="email" [(ngModel)]="nameModel" class="form-control" >
    
  </div>

  <div class="form-group ">
    <label >Contact</label>
    <input type="email" [(ngModel)]="contactModel" class="form-control" >
    
  </div>

  <div class="form-group ">
    <label >Matric No.</label>
    <input disabled type="email" [(ngModel)]="matricModel" class="form-control" >
    
  </div>
 <div class="form-group ">
    <div class="row">
    <label class="col-sm-3" >Gender</label>
 <ul class="gender-list col-sm-9">
        <li *ngFor="let gender of genders"
  [class.selected]="gender == selectedGender"
  (click)="onSelect(gender.valueOf())">{{genderString[gender]}}
  
</li>
</ul>
</div>
</div>



    <div class="errorMsg">
        {{  staticErrorMsg }}
    </div>
    <p>
        <a id="btnLogin" title="Register" (click)="validate()">Register</a> &nbsp; <a class="register" (click)="route('login')" >back to Login</a>
    </p>

    <p style="margin-bottom: 5px;">All Right Reserved © 2018</p>
</div>
</div>
