<app-header ></app-header>
<div class="divLoginOuter">
	<div class="divLoginInner">
		<h1>Change Password</h1>

		<div class="form-group col-sm-9 ">
			<label >Old Password</label>
			<input type="password" [(ngModel)]="oldPasswordModel" class="form-control" >

		</div>

		<div class="form-group col-sm-9">
			<label >New Password</label>
			<input type="password" [(ngModel)]="passwordModel" class="form-control" >

		</div>

		<div class="form-group col-sm-9">
			<label >Confirm New Password</label>
			<input  type="password" [(ngModel)]="cpasswordModel" class="form-control" >

		</div>


		<div class="errorMsg" [class.hidden]="errorMsg == ''">
			{{  errorMsg }}
		</div>

		<div class="successMsg" [class.hidden]="successMsg == ''">
			{{  successMsg }}
		</div>
		<div>
			<div>
				<a id="btnLogin" (click)="route('editProfile')">Back</a>
				<a id="btnLogin" (click)="validate()">Change Password</a>
			</div>
		</div>
	</div>
