header {
    width: 100%;
    overflow: hidden;
    border-bottom: solid 1px #ddd;
    background: #710030;
    color:white;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
}

#headerLeft {
    float: left;
    display: flex;
    align-items: baseline;
    outline: none;
    cursor: pointer;
}

#headerLeft h3 {
    display: inline;
    padding-bottom: 0;
}

ul#menuRight {
    list-style-type: none;
    vertical-align: middle;
    margin: auto 0;
}

li{
    font-weight: bold;
    display: inline;
    padding: 15px;
}

.hidden{
    display:none;
}
