footer {
    display: flex;
    width: 100%;
    padding: 10px 0;
    background: #f5f5f5;
    border-top: solid 1px #ddd;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
