.divLoginOuter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: all 0.5s ease-in;
    background: url('https://www.hostel.is/images/hostels/reykjavik-downtown/reykjavik_downtown_hi_hostel_iceland_24.jpg?960x640;crop');
}

.divLoginInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffffd1;
    padding: 30px 30px 10px;
    min-width: 250px;
}

.loginTitle{
    color:#710030;
    font-family : Arial, serif;
}


.loginField {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px 8px;
    margin: 10px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
}

.loginField input {
    border: 0;
    padding: 5px 10px;
    outline: none;
}

a.register{
    color: #4e0625;
    text-decoration: underline;
    cursor: pointer;
}

a#btnLogin, a#btnLogin:visited, a#btnLogin:link  {
    display: inline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    color: white;
    text-decoration: none;
    background: rgb(187, 6, 83);
    margin: 15px 15px 5px;
    cursor: pointer;
    font-weight: bold;
}

a#btnLogin:hover, a#btnLogin:active {
    background: rgba(0,0,0,0.2);
    text-decoration: none;
}

.errorMsg {
    font-size: medium;
    color: red;
    font-weight: bold;
    padding-bottom:32px;
}

.successMsg {
    font-size: medium;
    color: green;
    font-weight: bold;
    padding-bottom:32px;
}

.hidden{
    display:none;
}
